.main {
    text-align: center;
    border: 4px solid black;
    border-radius: 12px;
}

button {
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 12px;
    width: 200px;
}

#clock {
    width: 80px;
    margin: 0 auto;
    text-align: center;
    border: 6px solid black;
    border-radius: 12px;
    background-color: blue;
    color: white;
}

#question {
    display: none;
}

p {
    font-size: 25px;
    margin: 5px;
}
